body {
    background-color: white;
    height:100%;
    width:100%;
}
#editor { 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width:100%;
}
#navigation {
    background-color: #337ab7;
    padding-left: 1em;
    padding-right: 1em;
}
#submit, #run {
    cursor: pointer;
}
.panel{
    height: 400px;
}
.panel-heading{
  height:50px;
  padding: 0px;
}

.panel-footer {

}
.btn-default{
  float:right;
}
.notepad{
  width : 100%;
  height: 100%;
  padding: 3em;
}
